/* Header Section  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  /* font-family: "Raleway", sans-serif; */
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 145px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgb(17 16 16 / 50%);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0;
}
.banner {
  padding-top: 95px;
  height: 100%;
  width: 100%;
}

.banner img {
  height: 100%;
  width: 100%;
}

body {
  background-color: white
}
main {
  margin-top: 150px;
}
.header-left {
  margin-right: 20px;
}
.header-left > span {
  font-size:25px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #009688;
  letter-spacing: 2px;
  background: linear-gradient(to left, black,#009688);
  /* background-image: linear-gradient(to right, #009688, black); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header > nav > a{
  font-weight: inherit;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  margin:  0px 45px;
  padding-bottom: 4px;
  text-decoration: none;
}
header > nav > a:hover {
  text-decoration: none;
  color: #009688;
  /* border-bottom: 2px solid #009688; */
}
header > div > a{
  font-size: 20px;
  padding-left: 20px;
  margin: 25px;
  color: black;
}
/* Header section closed */

/* Card Section */
.container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: flex;
  flex-direction: inherit;
  align-items: flex-end; */
}
.heading{
  padding-left: 87px;
  font-size: 32px;
  font-weight: inherit;
  font-style: oblique;
}
.heading2{
  padding-top: 70px;
  padding-left: 87px;
  font-size: 32px;
  font-weight: inherit;
  font-style: oblique;
}
.card {  
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgb(0, 9, 9);
  margin: 10px 10px;
  overflow: hidden;
  cursor: pointer;
  background-color: white; 
}
 .card > a:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card > h3 { 
  text-align: left;
  font-size: 10px;
  margin-left: 17px;
  letter-spacing: 0.5px;
  color: rgb(27, 25, 25);
}
.card > h4 {
  margin-top: 10px;
  text-align: left;
  margin-left: 17px;
  /* font-size: 12px; */
  color: rgb(110, 110, 110);
}
.card > h5  {
  margin-top: 11px;
  text-align: left;
  margin-left: 17px;
  font-size: 15px;
  letter-spacing: 2px;
  color: #009688;
}
.card > h5::before {
  content: 'Rs  ';
}
.card > img {
  width: 255px;
}
.img:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
/* card section closed */

/* Footer section  start*/
footer{
  background-color: black;
  height: 221px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer ul li h3  {
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 17px;
  margin-bottom: 10px;
}
footer ul li a {
  line-height: 23px; /* 4px +12px + 4px */
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #b8b8b8;
  font-size: 14px;
  font-style: italic;
}
footer ul li  a:hover {
  color: #009688;
}
/* footer senction closed */
